<div class="container">
  <h1>Recherche de Données</h1>

  <div class="section">
    <h2>Rechercher un Utilisateur</h2>
    <form (submit)="fetchUser()">
      <input type="number" [(ngModel)]="userId" name="userId" required placeholder="Entrez l'ID de l'utilisateur">
      <button type="submit">Rechercher</button>
    </form>
    <p *ngIf="user">
      <strong>ID:</strong> {{ user.id }} | 
      <strong>Nom:</strong> {{ user.name }} | 
      <strong>Email:</strong> {{ user.email }}
    </p>
    <p *ngIf="!user && userId">Utilisateur non trouvé h.</p>
  </div>

  <div class="section">
    <h2>Rechercher un Produit</h2>
    <form (submit)="fetchProduct()">
      <input type="number" [(ngModel)]="productId" name="productId" required placeholder="Entrez l'ID du produit">
      <button type="submit">Rechercher</button>
    </form>
    <p *ngIf="product">
      <strong>ID:</strong> {{ product.id }} | 
      <strong>Nom:</strong> {{ product.name }} | 
      <strong>Prix:</strong> {{ product.price }} €
    </p>
    <p *ngIf="!product && productId">Produit non trouvé.</p>
  </div>
</div>
